.details__container {
  width: 360px;
  height: 640px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-card {
  position: absolute;
  object-fit: cover;
  left: 47.2vw;
  top: 0.5vw;
  opacity: 0.15;
}
@media (min-width: 377px) and (max-width: 391px) {
  .bg-card {
    left: 40.9vw;
    top: 1vw;
  }
}
@media (max-width: 376px) {
  .bg-card {
    left: 41vw;
    top: 1vw;
  }
}

/* Header */
.details__header {
  width: 352px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.details__header_number {
  font: var(--fnt-header-subtitle-2-bold);
}

.details__header_name {
  position: relative;
  left: -40px;
  font: var(--fnt-header-headline-bold);
  text-transform: capitalize;
}

/* Picture */
.details__picture {
  width: 352px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  flex: 1;
  position: relative;
  top: 30px;
  object-fit: fill;
}

.details__chevron_left,
.details__chevron_right {
  position: relative;
  top: 20px;
}

.details__img {
  object-fit: fill;
  height: 200px;
  width: 200px;
}
.details__img-size {
  height: 200px;
  width: 200px;
}

/* Detalles del pokemon */
/* Card! */
.details__card {
  width: 352px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  color: var(--clr-font-dark-gray);
  background-color: var(--clr-background);
  border-radius: 8px;
  font: var(--fnt-body-3-regular);
  padding-top: 40px;
  margin-bottom: 4px;
  /* Falta el shadow */
  box-shadow: inset 0px 0.5px 3px 2px rgb(102, 102, 102, 0.4);
}

.details__card_type {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details__type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.details__type-text {
  color: var(--clr-font-white);
  padding: 2px 8px;
  border-radius: 10px;
  font: var(--fnt-header-subtitle-3-bold);
  text-transform: capitalize;
  /* EXTRA: Agregar box-shadow */
}

.details__about {
  font: var(--fnt-header-subtitle-1-bold);
  text-transform: capitalize;
}

.details__about_text {
  width: 312px;
  height: 60px;
}
.details__atributes {
  width: 312px;
  height: 48px;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.details__atr_weight,
.details__atr_height,
.details__atr_moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
}

.details__atr_weight-icon,
.details__atr_height-icon {
  display: flex;
  gap: 8px;
}

.Z-icon {
  width: 16px;
  height: 16px;
}

.details__atributes_alt {
  font: var(--fnt-body-caption-regular);
  color: var(--clr-font-medium-gray);
}

.details__atr_moves-move {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.details__about_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stats */
.stats__title {
  margin-top: 0;
}

.stats__container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 312px;
  height: 96px;
}

.stats__box {
  display: flex;
  justify-content: space-between;
}

.stats__text {
  display: flex;
  flex-direction: column;
  align-items: end;
  font: var(--fnt-header-subtitle-3-bold);
  text-transform: uppercase;
}

.stats_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats__text_counter {
  font: var(--fnt-body-3-regular);
}

.stats_progress {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.progress-bar {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 233px;
  height: 4px;
  border-radius: 4px;
}


/* ? Colores Segun el tipo de pokemon */

/* Para el tipo 'bug' */
    /* --> Afecta el BG de la PokeCard del Texto que identifica el Tipo de Pokemon*/
    /* ubicado en: PkCardContainer, PKCardDetailsTop y PkCardStats(Bg de la barra activa) */
.bg-bug {
  background-color: var(--clr-Bug);
}
    /* Afecta el color de letra del 'About' y de los stats*/
    /* ubicado en: PKCardDetailsTop y PkCardStats */
.font-clr-bug {
  color: var(--clr-Bug);
}
.bg-op-Bug {
    /* Afecta el BG del fondo de la progress bar */
    /* ubicado en: PkCardStats */
  background-color: var(--bg-op-Bug);
}

/* Para el tipo 'dark' */
.bg-dark {
  background-color: var(--clr-Dark);
}
.font-clr-dark {
  color: var(--clr-Dark);
}
.bg-op-Dark {
  background-color: var(--bg-op-Dark);
}

/* Para el tipo 'dragon' */
.bg-dragon {
  background-color: var(--clr-Dragon);
}
.font-clr-dragon {
  color: var(--clr-Dragon);
}
.bg-op-Dragon {
  background-color: var(--bg-op-Dragon);
}

/* Para el tipo 'electric' */
.bg-electric {
  background-color: var(--clr-Electric);
}
.font-clr-electric {
  color: var(--clr-Electric);
}
.bg-op-Electric {
  background-color: var(--bg-op-Electric);
}

/* Para el tipo 'fairy' */
.bg-fairy {
  background-color: var(--clr-Fairy);
}
.font-clr-fairy {
  color: var(--clr-Fairy);
}
.bg-op-Fairy {
  background-color: var(--bg-op-Fairy);
}

/* Para el tipo 'fighting' */
.bg-fighting {
  background-color: var(--clr-Fighting);
}
.font-clr-fighting {
  color: var(--clr-Fighting);
}
.bg-op-Fighting {
  background-color: var(--bg-op-Fighting);
}

/* Para el tipo 'fire' */
.bg-fire{
  background-color: var(--clr-Fire);
}
.font-clr-fire{
  color: var(--clr-Fire)
}
.bg-op-Fire {
  background-color: var(--bg-op-Fire);
}

/* Para el tipo 'flying' */
.bg-flying {
  background-color: var(--clr-Flying);
}
.font-clr-flying {
  color: var(--clr-Flying);
}
.bg-op-Flying {
  background-color: var(--bg-op-Flying);
}

/* Para el tipo 'ghost' */
.bg-ghost {
  background-color: var(--clr-Ghost);
}
.font-clr-ghost {
  color: var(--clr-Ghost);
}
.bg-op-Ghost {
  background-color: var(--bg-op-Ghost);
}

/* Para el tipo 'normal' */
.bg-normal {
  background-color: var(--clr-Normal);
}
.font-clr-normal {
  color: var(--clr-Normal);
}
.bg-op-Normal {
  background-color: var(--bg-op-Normal);
}

/* Para el tipo 'grass' */
.bg-grass {
  background-color: var(--clr-Grass);
}
.font-clr-grass {
  color: var(--clr-Grass);
}
.bg-op-Grass {
  background-color: var(--bg-op-Grass);
}

/* Para el tipo 'ground' */
.bg-ground {
  background-color: var(--clr-Ground);
}
.font-clr-ground {
  color: var(--clr-Ground);
}
.bg-op-Ground {
  background-color: var(--bg-op-Ground);
}

/* Para el tipo 'ice' */
.bg-ice {
  background-color: var(--clr-Ice);
}
.font-clr-ice {
  color: var(--clr-Ice);
}
.bg-op-Ice {
  background-color: var(--bg-op-Ice);
}

/* Para el tipo 'poison' */
.bg-poison {
  background-color: var(--clr-Poison);
}
.font-clr-poison {
  color: var(--clr-Poison);
}
.bg-op-Poison {
  background-color: var(--bg-op-Poison);
}

/* Para el tipo 'psychic' */
.bg-psychic {
  background-color: var(--clr-Psychic);
}
.font-clr-psychic {
  color: var(--clr-Psychic);
}
.bg-op-Psychic {
  background-color: var(--bg-op-Psychic);
}

/* Para el tipo 'rock' */
.bg-rock {
  background-color: var(--clr-Rock);
}
.font-clr-rock {
  color: var(--clr-Rock);
}
.bg-op-Rock {
  background-color: var(--bg-op-Rock);
}

/* Para el tipo 'steel' */
.bg-steel {
  background-color: var(--clr-Steel);
}
.font-clr-steel {
  color: var(--clr-Steel);
}
.bg-op-Steel {
  background-color: var(--bg-op-Steel);
}

/* Para el tipo 'water' */
.bg-water {
  background-color: var(--clr-Water);
}
.font-clr-water {
    color: var(--clr-Water);
}
.bg-op-Water {
  background-color: var(--bg-op-Water);
}